    body {background-color: #262626; 
        color: black; 
        margin: 0; 
        /*font-family:  helvetica, arial, sans-serif;}*/
        font-family: helvetica,sans-serif;}

    h1{font-family: futura, arial;}


    #navigation{border-style: black;
        border-width: 2px;
        border-color: black; 
        padding:4px; 
        font-size: 10pt; 
        color: black; 
        position:fixed; 
        width:100%; 
        background-color: #eee; 
        font-family: arial, sans-serif; text-align: center;}

    #top{color: black; 
        background-image: URL("http://i.imgur.com/nsZYhPY.jpg"); 
        background-size: cover; 
        height:500px; 
        background-repeat: no-repeat;
        text-align: center}

    #topsmall{
        color: black; 
        background-image: URL("http://i.imgur.com/nsZYhPY.jpg"); 
        background-size: cover; 
        height:500px; 
        background-repeat: no-repeat;
        text-align: center}
    }

/*     #mastheadcontain{;
        }  */ 
        
        #masthead{display: inline-block; 
        padding: 10px;
        width: 0 auto; 
        }

    #headline{font-size: 3em; 
        font-style: bold;
        position: relative;

        /*top: -40px;}*/
}

    #aboutouter{background-color: #E6E6E6; /*4C4C4C*/
        text-align: center; 
        padding: 20px;
        background-image: URL("http://i.imgur.com/eT9suTB.jpg"); 
        background-size: cover;
        background-repeat: no-repeat;

    }           

        #aboutinner{ 
            max-width:800px;
            margin: 0 auto;
            padding: 10px;
            background-color: white;}

    #contentouter{ padding: 20px; 
        background-color: black;           
        text-align: center;
        margin: 0 auto;} 

        #contentinner{
            max-width:800px; 
            padding: 10px;
            margin: 0 auto;
            background-color: #eee;}

    #footer{background-color: #eee;  
        text-align:center;}

    .strong{font-weight: bold; font-size: 16pt; } /* This is an ID declaration*/
   /* #top{background-image:URL("http://i.imgur.com/PE1Q9z9.jpg")}*/
    .subheading{color: #eee; padding: 40px; font-weight: bold;}

    a:link {color:#853385; }    /* unvisited link */
    a:visited {color:#C299C2;} /* visited link */
    a:hover {color: red;}   /* mouse over link */
    a:active {color:#0000FF;}  /* selected link */
    
